<div class="container mt-5">
  <div class="d-flex">
    <div class="p-2 w-100"><h1>My Listings</h1></div>
    <div class="p-2"><%= link_to 'Rent a board', new_board_path, class: 'btn btn-success' %></div>
  </div>
  <% current_user.boards.each do |board| %>
  <div class="col-3">
    <div class="card my-3" style="width: 18rem;">
      <% if board.photos.attached? %>
        <%= cl_image_tag board.photos.first.key, crop: :fill %>
      <% else %>
        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.F00dCf4bXxX0J-qEEf4qIQHaD6%26pid%3DApi&f=1" class="card-img-bottom rounded float-star" alt="...">
      <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= link_to board.type_of_board + ' - ' + board.volume.round.to_s + 'L', board_path(board) %></h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= board.location %></h6>
          <p class="card-text">Price per day: <strong><%= board.price_per_day %>$</strong></p>
          <% if board.bookings.empty? %>
            <p>No booking requests yet</p>
          <% end %>
          <% board.bookings.each do |booking| %>
            <p>From <%= booking.start_date.to_formatted_s(:short) %> to <%= booking.end_date.to_formatted_s(:short) %></p>
            <% if booking.status == 'pending'%>
              <%= button_to "accept", accept_board_booking_path(:board_id => booking.board, :id => booking), method: :patch %>
              <%= button_to "decline", decline_board_booking_path(:board_id => booking.board, :id => booking), method: :patch %>
            <% end %>
              <%= booking.status %>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
<h2>My Bookings</h2>
<%# current_user.bookings.each do |booking|%>
<%# for each booking create a card with all info  %>
  <p>previous bookings</p>
<%# end %>
  </div>
</div>
