<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Surf4All</title>

</head>

<body id="home">

<div class="banner">
  <div>
    <%= image_tag "how-we-coach-surfing-1-1920x960", :height => "600", :class => "banner_img", :width => "100%" %>
    <div class= "search_board_type">
      <form action="https://www.google.com/search" target="_blank">
      <br>
        <h2>Search your board type</h2>
        <input name="q">
        <button>Search</button>
      </form>
    </div>
  </div>


  <div class="container">

    <h1>Surf4All
    </h1>
    <br>
    <p>Surf4All enables you to use top notch equipment in the best surf locations around the world. </p>
    <p>Create an account with Surf4All and select your chosen location, duration, board type and your ready to catch the surf. </p>

  </div>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card">
      <%= image_tag "surf"%>
      <div class="card-body">
        <h5 class="card-title">Try new boards</h5>
        <p class="card-text">Try out different boards without paying  full purchase price.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <%= image_tag "shaka" %>
      <div class="card-body">
        <h5 class="card-title">Make connections</h5>
        <p class="card-text">Get connected with local surfers and catch wind of the best spots</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <%= image_tag "passport" %>
      <div class="card-body">
        <h5 class="card-title">Convenient Travel</h5>
        <p class="card-text">Travel without carrying all of your surf gear.</p>
      </div>
    </div>
  </div>
  </div>
  <br>
   <br>
    <br>
</div>
<div class = "bussiness_profile">
<h2>Make extra income with spare boards.</h2>
 <br>
 <p>List your board on surf4All and rent to fellow surfers on your terms.
 </p>
</div>


<footer class="footer-distributed">

      <div class="footer-left">

        <h3><span><%= image_tag ="surf4all"%></span></h3>

        <p class="footer-links">
          <a href="#" class="link-1">Home</a>

          <a href="#">Blog</a>

          <a href="#">Pricing</a>

          <a href="#">About</a>

          <a href="#">Faq</a>

          <a href="#">Contact</a>
        </p>

        <p class="footer-company-name">Surf4All © 2022</p>
      </div>

      <div class="footer-center">

        <div>
          <i class="fa fa-map-marker"></i>
          <p><span>444 S. Cedros Ave</span> Porto, Portugal</p>
        </div>

        <div>
          <i class="fa fa-phone"></i>
          <p>+1.555.555.5555</p>
        </div>

        <div>
          <i class="fa fa-envelope"></i>
          <p><a href="mailto:support@company.com">support@company.com</a></p>
        </div>

      </div>

      <div class="footer-right">

        <p class="footer-company-about">
          <span>About the company</span>
          Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
        </p>

        <div class="footer-icons">

          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-github"></i></a>

        </div>

      </div>

    </footer>


</body>
</html>
