<div class="container mt-5">
  <div class="border-bottom border-secondary d-flex justify-content-center align-content-center mt-5 pt-5 mb-4">
<div class="w-75 mb-3"><%= form_with url: boards_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find a board" %>
            <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
</div>
  </div>
  <div class="container">
    <div class="row my-10">
      <% @boards.each do |board| %>
       <div class="col-3">
          <div class="card my-3 pt-3" style="width: 18rem;">
            <% if board.photos.attached? %>
              <%= cl_image_tag board.photos.first.key, :transformation=>[ {:effect=>"trim"}, {:width=>"250", :height=>"250", :crop=>"lpad"}] %>
            <% else %>
              <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.F00dCf4bXxX0J-qEEf4qIQHaD6%26pid%3DApi&f=1" class="card-img-bottom rounded float-star" alt="...">
            <% end %>
              <div class="card-body">
                <h5 class="card-title"><%= link_to board.type_of_board + ' - ' + board.volume.round.to_s + 'L', board_path(board) %></h5>
                <h6 class="card-subtitle mb-2 text-muted"><%= board.location %></h6>
                <h6 class="card-subtitle mb-2 text-muted"><%= board.tail_shape %> Tail</h6>
                <h6 class="card-subtitle mb-2 text-muted"><%= board.fins_type %> Fin</h6>
                <p class="card-text">Price per day: <strong><%= board.price_per_day %>$</strong></p>
              </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
