
<div class="container mt-3 d-flex justify-content-center">
  <div class="container-form"><h2>Create a board:</h2>
    <%= simple_form_for(@board) do |f| %>
      <%= f.input :description, input_html: { class: 'form-control' }, placeholder: "Ex. Smooth ride" %>
      <%= f.input :type_of_board, collection: ["Shortboard", "Longboard", "Fish", "Stand-Up"]%>
      <%= f.input :tail_shape, collection: ["Round", "Swallow", "Squash", "Pin", "Diamond", "Square"] %>
      <%= f.input :fins_type, collection: ["Single", "Twin", "Thruster", "Quad"] %>
      <%= f.input :location, input_html: { class: 'form-control' }, placeholder: "Ericeira, Portugal" %>
      <%= f.input :width, input_html: { class: 'form-control' },placeholder: "48cm" %>
      <%= f.input :length, input_html: { class: 'form-control' },placeholder: "162cm" %>
      <%= f.input :thickness, input_html: { class: 'form-control' },placeholder: "6cm" %>
      <%= f.input :price_per_day, input_html: { class: 'form-control' },placeholder:"€45" %>
      <%= f.input :photos, as: :file, input_html: { multiple: true } %>
      <div class="my-3 d-flex justify-content-center">
        <%= f.submit 'Create board', class: 'btn btn-primary btn-lg' %>
      </div>
    <% end %>
   </div>
</div>
